<meta charset="UTF-8" name='viewport' content='width=device-width,initial-scale=1.0'>
<title><%= title %></title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/bootstrap/css/amelia-master/amelia.bootstrap.min.css">
<style>
    body {
        padding-top: 50px;
    }
</style>
<script src='/javascripts/jquery-3.4.1.min.js'></script>
<script src='/bootstrap/js/bootstrap.min.js' )></script>