<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
</head>

<body>
    <header>
        <% include partials/header %>
    </header>
    <main>

        <div class="container">
            <h1 class="page-header"><%= title %></h1>
            <p> Loc8r was created to help people find places to sit down and get a piece of work done </p>
            <br />
            <p class="text-indext">As the world's largest corporate university, the Loc8r global education centre in the
                337 acre[42] campus has 400 instructors and 200+ classrooms,[43] with international benchmarks at its
                core. Established in 2002, it had trained around 1,25,000 engineering graduates by June 2015.[43] It can
                train 14,000 employees at a given point of time on various technologies.[44][45]

                The Loc8r Leadership Institute (ILI), based in Mysuru, has 96 rooms and trains about 400 Loc8r customers
                annually.[45] Its purpose is to prepare and develop the senior leaders in Loc8r for current and future
                executive leadership roles.

            </p>
            <br />
            <p class="text-indext"> The Loc8r Training Centre in Mysuru also provides a number of extracurricular
                facilities like tennis, badminton, basketball, swimming pool and gym.</p>
        </div>
    </main>
    <footer>
        <% include partials/footer %>
    </footer>
</body>

</html>