

  <!DOCTYPE html>
  <html>
  
  <head>
    <% include partials/head %>
  </head>
  <main>
  
    <body>
      <h1>{{message}}</h1>
      <h1>{{error.status}}</h1>
      <pre>Welcome to {{error.stack}}</pre>
    </body>
  </main>
  
  </html>

