<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
</head>

<body>
    <header>
        <% include partials/header %>
    </header>
    <main>

        <div class="container">
            <div>
                <h1>Starcups</h1>
            </div>
            <div class="row">
                <div class="col-md-10 col-xs-12">
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <p class="address">125 Hig Street ,Reading, RG6 IPS</p>
                            <div class="panel panel-default">
                                <div class=" panel-heading">Opening Hours</div>
                                <div class=" panel-body">
                                    <p> Monday-Friday :7:00am -7:00pm </p>
                                    <p> Saturday :8:00am -5:00pm </p>
                                    <p> Sunday :Closed </p>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class=" panel-heading">Facilities</div>
                                <div class="panel-body">
                                    <span class="label label-warning">Hot Drinks</span>
                                    <span class="label label-warning">Food</span>
                                    <span class="label label-warning">Premium Wifi</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="panel panel-default">
                                <div class=" panel-heading">Location Map</div>
                                <div class="panel-body">
                                    <span class="location-map">
                                        <img class="img-responsive img-rounded"
                                            src="/images/staticmap.png" />
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-xs-12">
                   <p> Simon's cafe is on Loc8r because it has accesible wifi and a space to sitdown with ypur laptop and get some work done.</p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <% include partials/footer %>
    </footer>
</body>

</html>