<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
</head>

<body>
    <header>
        <% include partials/header %>
    </header>
    <main class="container">
        <div id="banner" class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <h1>Loc8r <small>&nbsp; Find places to work with wifi near you</small></h1>
                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <div class="row list-group">
                    <div class="class-xs-12 list-group-item">
                        <h4>
                            <a href='/location'>Starcups</a>
                            <small>&nbsp;
                                <span class="star-rating">
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </span>
                            </small>
                            <span class="badge pull-right badge-default">100m</span>
                        </h4>
                        <p class="address">125 Hig Street ,Reading, RG6 IPS</p>
                        <p>
                            <span class="label label-warning">Hot Drinks &nbsp;</span>
                            <span class="label label-warning">Food &nbsp;</span>
                            <span class="label label-warning">Premimum Wifi &nbsp;</span>
                        </p>

                    </div>
                    <div class="class-xs-12 list-group-item">
                        <h4>
                            <a href='/location'>Starcups</a>
                            <small>&nbsp;
                                <span class="star-rating">
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </span>
                            </small>
                            <span class="badge pull-right badge-default">100m</span>
                        </h4>
                        <p class="address">125 Hig Street ,Reading, RG6 IPS</p>
                        <p>
                            <span class="label label-warning">Hot Drinks &nbsp;</span>
                            <span class="label label-warning">Food &nbsp;</span>
                            <span class="label label-warning">Premimum Wifi &nbsp;</span>
                        </p>

                    </div>
                    <div class="class-xs-12 list-group-item">
                        <h4>
                            <a href='/location'>Starcups</a>
                            <small>&nbsp;
                                <span class="star-rating">
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </span>
                            </small>
                            <span class="badge pull-right badge-default">100m</span>
                        </h4>
                        <p class="address">125 Hig Street ,Reading, RG6 IPS</p>
                        <p>
                            <span class="label label-warning">Hot Drinks &nbsp;</span>
                            <span class="label label-warning">Food &nbsp;</span>
                            <span class="label label-warning">Premimum Wifi &nbsp;</span>
                        </p>

                    </div>

                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <p class="lead">Looking for a wifi and a seat? Loc8r helps you find places to work when out and about.
                    Perhaps witha coffee, cake or a pnt?LEt locator help you find the place you're looking for. </p>
            </div>

        </div>

    </main>
    <footer>
        <% include partials/footer %>
    </footer>
</body>

</html>