<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
</head>

<body>
    <header>
        <% include partials/header %>
    </header>
    <main>
        <div id="banner" class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <h1>Loc8r <small>&nbsp; Find places to work with wifi near you</small></h1>
                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <p>List Area</p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <p class="lead">Loc8r leads you find places to work when out and about.</p>
            </div>

        </div>

    </main>
    <footer>
        <% include partials/footer %>
    </footer>
</body>

</html>